body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

/* Headings */

.header-main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header-secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header-quarterly {
    font-size: 21px;
    color: grey;
}

/* Links */

.link-cta {
    font-size: 16px;
    color: aquamarina;
}

/* Footer */

.foot-primary {
    font-size: 21px;
    color: gray;
    text-align: right;
}
